In [1]:
import pandas as pd

In [3]:
# Read data from file
df = pd.read_csv('adult.data.csv')
print(df)

       age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]

# How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [4]:
race_count = df.value_counts('race')
print(race_count)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

# What is the average age of men?

In [6]:
men = df[df.sex == 'Male']
average_age_men = men['age'].mean().round(1)
print(average_age_men)

39.4

# What is the percentage of people who have a Bachelor's degree?

In [8]:
ba = df[df.education == 'Bachelors']
percentage_bachelors = round(len(ba)/len(df) * 100,1)
print(percentage_bachelors)

16.4

# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
# What percentage of people *without* advanced education make more than 50K?

In [9]:
 # with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

# percentage with salary >50K
higher_education_rich = round(len(higher_education[higher_education.salary=='>50K']) / len(higher_education) *100,1)
lower_education_rich = round(len(lower_education[lower_education.salary=='>50K']) / len(lower_education) *100,1)

print('Percentage of those with advanced education who make more than 50K:', higher_education_rich)

print('Percentage of those without advanced education who make more than 50K:', lower_education_rich)

Percentage of those with advanced education who make more than 50K: 46.5
Percentage of those without advanced education who make more than 50K: 17.4

#What is the minimum number of hours a person works per week?

In [10]:
min_work_hours = df['hours-per-week'].min()
print(min_work_hours)

1

#What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [12]:
min_hours = df[df['hours-per-week']==1]

num_min_workers = len(min_hours)

rich_percentage = round(len(min_hours[min_hours.salary=='>50K'])/num_min_workers *100,1)

print(rich_percentage)

10.0

#What country has the highest percentage of people that earn >50K and what is that percentage?

In [13]:
countries = df[['native-country']].value_counts()

rich = df[df.salary=='>50K'][['native-country']].value_counts()

percent = round(rich*100/countries,1)

highest_earning_country = percent[percent==percent.max()].index[0][0]
highest_earning_country_percentage = percent[percent==percent.max()].iloc[0]

print(highest_earning_country)
print(highest_earning_country_percentage)

Iran
41.9

#Identify the most popular occupation for those who earn >50K in India.

In [14]:
india_mask = df['native-country']=='India'
rich_mask = df['salary']=='>50K'
rich_india = df[india_mask & rich_mask]

occ = rich_india['occupation'].value_counts()
top_IN_occupation=occ[occ==occ.max()].index[0]

print(top_IN_occupation)

Prof-specialty